<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Sistema para toma de pedidos</h1>
            <h3 class="mb-5">
                <em>Guarda los pedidos de los clientes</em>
            </h3>
        </div>
        <div class="overlay"></div>
    </header>
</main>
